In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.float_format', '{:.6f}'.format)

In [3]:
df = pd.read_csv('Admission_Predict.csv')
df.insert(loc=0, column='ones', value=1) 
df.head()

,ones,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,1,337,118,4,4.500000,4.500000,9.650000,1,0.920000
1,1,2,324,107,4,4.000000,4.500000,8.870000,1,0.760000
2,1,3,316,104,3,3.000000,3.500000,8.000000,1,0.720000
3,1,4,322,110,3,3.500000,2.500000,8.670000,1,0.800000
4,1,5,314,103,2,2.000000,3.000000,8.210000,0,0.650000